@charset "utf-8";

/* may god have mercy on whoever has to inherit the css i write */

:root {
	--background: #FFFFFF;
	--text: #000000;
	--logoblue: #0050AD;
	--logored: #ff0000;
	--theme_main: url("../media/sun.png");
  --theme_alt: url("../media/moon.png");
 }
 
 .dark-mode {
	--background: #000000;
	--text: #FFFFFF;
	--theme_alt: url("../media/sun.png");
  --theme_main: url("../media/moon.png");
 }

 body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

h3 {
  text-align: center;
  color: var(--logoblue);
  font-family: "Zen Dots";
  font-size: 2vw;
}

#footer-layout {
	width: 100%;
	color: var(--text);
	font-size: 1.25vw;
	position:fixed;
	bottom: 0;
	background-color: var(--logoblue);
	color: var(--background);
	text-align: center;
  height: 4vw;
  padding-top: 1%;
 }

#footer-layout a {
	color: var(--background);
}

#footer-layout a:hover {
	color: var(--logored);
 }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48;
}

i.md90px {
  font-size: 3.5vw;
  color: var(--logoblue);
  padding-right: 0.5%;
  -webkit-text-stroke: 0.25vw black; /* width and color */
}

.navbar {
	list-style-type: none;
	padding: 0.5%;
	margin-top: 0%;
  margin-bottom: 0%;
	overflow: hidden;
	background-color: var(--logoblue);
}
  
.navoption {
	color: black;
	font-family: 'Zen Dots';
	float: left;
}
  
.navoption a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  font-size: 1vw;
}
  
.navoption a:hover {
	background-color: var(--logored);
}

.logo {
	display: inline;
	height: 7vw;
	width: 7vw;
	margin-bottom: 0%;
  margin-left: 1%;
	vertical-align: bottom;
  border: 5px solid black;
  border-radius: 100%;
}
.title {
	display: inline;
	font-size: 8vw;
	margin-left: 1vw;
  margin-right: 2vw;
	overflow: hidden;
	line-height: 7vw;
	vertical-align: bottom;
	color: var(--logoblue);
  font-family: "Zen Dots";
  -webkit-text-stroke: 0.05em black; /* width and color */
}

.titlebar {
	padding-top: 1%;
	background-color: var(--dcublue);
}


.othernavs {
  padding-right: 185px;
  padding-top:50px;
  float:right;
}

.searchform {
  padding-left: 500px;
  display: inline; 
  float: center;
  
}
/* PROPORTIONS HERE ARE PERFECT DO NO CHANGE THEM UNLESS IT FUCKS ITSELF */
.searchform input[type=text] {
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  padding-right:170px;
  padding-top:15px;
  padding-bottom:10px;
  border-radius:20px;
  padding-left:15px;

}


 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
  
input[type=submit] {
  background-color: var(--logoblue);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
input[type=submit]:hover {
  background-color: var(--logored);
}
  
  .contactu {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  } 

.topnavi {  /* SECTION FOR TOP NAVIGATION AREA*/
  background-color: var(--logored);

  border: 4px solid var(--logoblue);
}

.maininteraction {
  display: block;
  text-decoration: none;  
}

#featuredh1 { 
  text-align:center;
  font-size:30px;
  color:#00336d;
}
/* ////////////// ITEM CARD and LIST CSS ///////////////*/

.itemtitle {
  text-align: center;
}

.card {
  padding: 2%;
  border: 0.5vw solid var(--logoblue);
  margin-bottom:50px;
  display: inline-block;
  background-color: var(--logored);
  width: 95%;
  height: 50%;
  border-radius: 12px;
  text-decoration: none;
  vertical-align: top;
}

.leftbox {
	display: table-cell;
  width: 5%;
}

.midbox {
  background-color: var(--background);
  color: var(--text);
	display: table-cell;
  width: 35%;
  font-size: 1.5vw;
  margin-left: 20%;
  padding: 2%;
  border: 0.5vw solid var(--logoblue);
  border-radius: 12px;
}


.cardimg {
  border-radius: 8px;
  max-height: 20vw;
  max-width: 20vw;
  vertical-align: top;
 
  border: 0.5vw solid var(--logoblue);
}

.gotoitembtn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  vertical-align: top;
  border: 4px solid var(--logoblue);
  font-size:1vw;
  font-weight:bold;
}

.gotoitembtn:hover {
  background-color: var(--logoblue);
  color: white;
  border-color: white;
}  


.locationframe {
  float:left;
  margin-left:130px;
  display:inline;
  color:blue ;
  text-align:center;
  font-size:26px;
  color:#00336d;
}

#cart_cont{
  width: 100%;
}

.cartsection th{
  border: 5px solid var(--text);
  color: var(--text);
  text-align: center;
  width: 5vw;
}

.cartsection td{
  border: 2px solid var(--text);
  color: var(--text);
  text-align: center;
  width: 5vw;
}

.map {
	display: table-cell;
  width: 100%;
}

iframe {
  width: 60vw;
  height: 18vw;
  margin-left: 30%;
}

.mapnotes {
  background-color: var(--background);
  color: var(--text);
	display: table-cell;

  font-size: 1vw;
  width: 20%;

  border-radius: 12px;
}

