@charset "utf-8";

/* may god have mercy on whoever has to inherit the css i write */

:root {
	--background: #FFFFFF;
	--text: #000000;
	--logoblue: #0050AD;
	--logored: #ff0000;
	--theme_main: url("../media/sun.png");
  --theme_alt: url("../media/moon.png");
 }
 
 .dark-mode {
	--background: #000000;
	--text: #FFFFFF;
	--theme_alt: url("../media/sun.png");
  --theme_main: url("../media/moon.png");
 }

 body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48;
}

i.md90px {
  font-size: 3.5vw;
  color: var(--logoblue);
  padding-right: 0.5%;
  -webkit-text-stroke: 0.25vw black; /* width and color */
}

.navbar {
	list-style-type: none;
	padding: 0.5%;
	margin-top: 0%;
  margin-bottom: 0%;
	overflow: hidden;
	background-color: var(--logoblue);
}
  
.navoption {
	color: black;
	font-family: 'Zen Dots';
	float: left;
}
  
.navoption a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  font-size: 1vw;
}
  
.navoption a:hover {
	box-shadow: 0 0 4px 2px grey;
	background-color: var(--logored);
	/*color: var(--logoblue);*/
}

.logo {
	display: inline;
	height: 7vw;
	width: 7vw;
	margin-bottom: 0%;
  margin-left: 1%;
	vertical-align: bottom;
  border: 5px solid black;
  border-radius: 100%;
}
.title {
	display: inline;
	font-size: 8vw;
	margin-left: 1vw;
  margin-right: 2vw;
	overflow: hidden;
	line-height: 7vw;
	vertical-align: bottom;
	color: var(--logoblue);
  font-family: "Zen Dots";
  -webkit-text-stroke: 0.5vw black; /* width and color */
}

.titlebar {
	padding-top: 1%;
	background-color: var(--dcublue);
}


.othernavs {
  padding-right: 185px;
  padding-top:50px;
  float:right;
}

.searchform {
  padding-left: 500px;
  display: inline; 
  float: center;
  
}
/* PROPORTIONS HERE ARE PERFECT DO NO CHANGE THEM UNLESS IT FUCKS ITSELF */
.searchform input[type=text] {
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  padding-right:170px;
  padding-top:15px;
  padding-bottom:10px;
  border-radius:20px;
  padding-left:15px;

}

.othernavbtns {padding-left:13px;padding-right:13px;}



#contactbtn {
 background-image:url('src/imgsrc/cart2.png');
 
}
#contactbtn:hover {
    background-image:url('src/imgsrc/cart2.png');
}

.topnavi {  /* SECTION FOR TOP NAVIGATION AREA*/
  background-color: var(--logored);

  border: 4px solid var(--logoblue);
}

.maininteraction {
  display: block;
  text-decoration: none;  
}

.firstbanner {
  border:9px solid #0050AD;
  border-radius:25px;
  margin-left:85px;

}

.secondbanner {

  margin-left:85px;
  margin-right:29px;
  border:9px solid #0050AD;
  border-radius:20px;
}

.thirdbanner {

  margin-right:110px;
  border:9px solid #0050AD;
  border-radius:20px;
}

.featureds {}

#featuredh1 { 
  text-align:center;
  font-size:30px;
  color:#00336d;
}
/* ////////////// ITEM CARD and LIST CSS ///////////////*/

.itemtitle {
  text-align: center;
}

.itemtitle h1 {
  font-size: 30px;
  font-weight: bold;

  color:#00336d;
  padding-bottom:45px;

}
.sidebar {

}
.card {
  margin-left: 160px;
  padding:20px;
  border: 4px solid #0050AD;
  margin-bottom:50px;
  display: inline-block;
  background-color: red;
  width: 260px;
  height:500px;
  border-radius: 12px;
  text-decoration: none;
  vertical-align: top;
  

}

.card img {
  border-radius: 8px;
  vertical-align: top;
}

.gotoitembtn {
  background-color: rgb(255, 98, 98);
  width: 150px;
  height: 40px;
  border-radius: 20px;
  vertical-align: top;
  border: 4px solid #0050AD;
  font-size:17px;
  font-weight:bold;
}

.gotoitembtn:hover {background-color: rgb(21, 71, 163);}  


.addbtn .gotoitembtn {
  margin-left: 44px;
  margin-top: 24px;
  margin-bottom:10px;
}


.itemhref {
    text-decoration: none;
    color:#003a7c;
}

.divcard .addbtn .gotoitembtn{
  float: center;
}

.itemcardnm {     /* TRY GET SOME ... ACTION ON THE ITEMPAGE.HTML ITEM CARDS; MEANS WE CAN HAVE LONGER TITLES... < like that see?*/
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 1px; 
  height: 1.2em; 
  white-space: nowrap;
}

/* /////////// ITEM PAGE CSS //////////////*/

.itempage {
  display:flex; 
}
.itemprev {
  width:100%;
  padding-left:200px;
  padding-top:370px;

}

.itemprev img {
  
  width:500px;
  height:500px;
  border:6px solid #0050AD; 
  border-radius:10%;
}

.iteminfo {
  padding:29px;
  background-color: red;
  margin-top:200px;
  margin-left:400px;
  margin-right:275px;
  border:6px solid #0050AD;
  border-radius:25px;
}


#add2cart {
  margin-left:100px;
  padding:10px;

}

#add2cart p {
  
}

.locationframe {
  float:left;
  margin-left:130px;
  display:inline;
  color:blue ;
  text-align:center;
  font-size:26px;
  color:#00336d;
}

.locationtxt {
  display:inline;
  color:blue ;
  text-align:center;
  font-size:26px;
  color:#00336d;

}

.locationtxt p {
  font-weight:bold;
  padding-left:100px; 
}

.locations {

  
}


.directionsp {
  text-align:center;
  padding:00px;
}


.cartitems {
  background-color: blue;
  padding-left:260px;
  margin-left:80px;
  margin-right: 62%;
}

.cartsection {background-color: magenta;}

.carttotal {
  padding-right:260px;
  margin-right:80px;
  margin-left:62%;
}